POSTGRES_DB=servicehub
POSTGRES_PASSWORD=LyhaEkM2D6TeH96W8jxG
POSTGRES_USER=servicehub
POSTGRES_HOST=mock_service_pg
POSTGRES_PORT=5432

WORKERS=2
MAX_CONNECTIONS=25

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
X_API_KEY=12345